# Insurance Cost Prediction Project

## Group Number: 400
## Team Members:
- Max Raney
- [Member 2 Name]
- [Member 3 Name]

# Insurance Cost Prediction Project

## Overview
This Jupyter notebook presents the code for the Insurance Cost Prediction project. The goal is to build and compare machine learning models for predicting insurance costs based on various features, including age, sex, BMI, and location.

## Contents
1. [Data Loading](#data-loading)
2. [Data Preprocessing](#data-preprocessing)
3. [Model Training - Linear Regression](#model-training-linear-regression)
4. [Model Training - Random Forests](#model-training-random-forests)
5. [Model Training - AdaBoost](#model-training-adaboost)
6. [Model Training - Gradient Boosting](#model-training-gradient-boosting)
7. [Model Training - Neural Network](#model-training-neural-network)
8. [Model Comparison](#model-comparison)

## 1. Loading
Code for loading the dataset and libraries required for the project.

In [6]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler


%matplotlib inline

In [7]:
# Load the data
data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## 2. Data Preprocessing
This section covers the preprocessing steps applied to the insurance dataset before building the predictive models.

In [9]:
# 1. Encode Categorical Variables
data_encoded = pd.get_dummies(data, columns=['sex', 'smoker', 'region'], drop_first=True)

# 2. Feature Scaling
# Extract numerical features
numerical_features = ['age', 'bmi', 'children']

# Create a scaler object
scaler = StandardScaler()

# Apply scaling to numerical features
data_encoded[numerical_features] = scaler.fit_transform(data_encoded[numerical_features])

data_encoded.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,-1.438764,-0.453320,-0.908614,16884.92400,False,True,False,False,True
1,-1.509965,0.509621,-0.078767,1725.55230,True,False,False,True,False
2,-0.797954,0.383307,1.580926,4449.46200,True,False,False,True,False
3,-0.441948,-1.305531,-0.908614,21984.47061,True,False,True,False,False
4,-0.513149,-0.292556,-0.908614,3866.85520,True,False,True,False,False

## 3. Model Training - Linear Regression
Code for training the linear regression model.

## 4. Model Training - Random Forests
Code for training the random forests model.

## 5. Model Training - AdaBoost
Code for training the AdaBoost model.

## 6. Model Training - Gradient Boosting
Code for training the gradient boosting model.

## 7. Model Training - Neural Network
Code for training the neural network model.

## 8. Model Comparison
Code for evaluating and comparing the performance of different models.